In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_gharbazars.csv')

In [3]:
df.head()

,price,LAND AREA,HOUSE AREA,Unnamed: 3,BEDS,LIVING,KITCHEN,BATHROOMS,FLOORS,LOCATION,...,TYPE,CODE,UPDATE,VIEWS,FURNISHING,url,MAIN ROAD DISTANCE,ROAD TO HOUSE,FLAT AREA,PARKING AREA
0,"Rs. 40,000 (Negotiable)\n(Forty thousand )",0-4-0-0,1200 SQUARE FEET,NaN,3.0,1.0,1.0,2.0,2.0,"THAIBA, LALITPUR, NEPAL",...,PILLAR SYSTEM,GB10308,5 MONTHS AGO,104,NOT FURNISHED,https://www.gharbazar.com/property/details/hou...,NaN,NaN,NaN,NaN
1,"Rs. 32,00,000 (Negotiable)\n(32 lakh per aana)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NEAR MAKALU PETROL PUMP, KATHMANDU, NEPAL",...,NONE,GB05398,5 YEARS AGO,6575,NaN,https://www.gharbazar.com/property/details/lan...,150M,50,NaN,NaN
2,"Rs. 7,00,000 (Negotiable)",999 SQUARE FEET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"GYANESWOR, KATHMANDU, NEPAL",...,PILLAR SYSTEM,GB10444,4 MONTHS AGO,48,FULLY FURNISHED,https://www.gharbazar.com/property/details/off...,NaN,NaN,NaN,NaN
3,"Rs. 2,30,00,000 (Negotiable)\n(Two crore thirt...",0-4-2-2,2100 SQUARE FEET,NaN,6.0,2.0,2.0,3.0,2.5,"NAYABASTI, IMADOL, LALITPUR, NEPAL",...,PILLAR SYSTEM,GB07393,3 YEARS AGO,8932,NOT FURNISHED,https://www.gharbazar.com/property/details/hou...,400M,NaN,NaN,NaN
4,"Rs. 28,00,000 (Negotiable)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"KITINI, GODAWARI, KATHMANDU, NEPAL",...,PILLAR SYSTEM,GB10605,1 MONTH AGO,65,NOT FURNISHED,https://www.gharbazar.com/property/details/hou...,NaN,500METERS,NaN,NaN

In [5]:
df.columns

Index(['price', 'LAND AREA', 'HOUSE AREA', 'Unnamed: 3', 'BEDS', 'LIVING',
       'KITCHEN', 'BATHROOMS', 'FLOORS', 'LOCATION', 'ROAD DESCRIPTION',
       'FACED TOWARDS', 'CATEGORY', 'TYPE', 'CODE', 'UPDATE', 'VIEWS',
       'FURNISHING', 'url', 'MAIN ROAD DISTANCE', 'ROAD TO HOUSE', 'FLAT AREA',
       'PARKING AREA'],
      dtype='object')

In [6]:
columns_to_drop = ['Unnamed: 3','CATEGORY','TYPE','CODE','UPDATE','VIEWS','FURNISHING','url','FLAT AREA','PARKING AREA']

In [9]:
df =df.drop(columns=columns_to_drop)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               540 non-null    object
 1   LAND AREA           587 non-null    object
 2   HOUSE AREA          177 non-null    object
 3   BEDS                315 non-null    float64
 4   LIVING              276 non-null    float64
 5   KITCHEN             301 non-null    float64
 6   BATHROOMS           240 non-null    float64
 7   FLOORS              311 non-null    float64
 8   LOCATION            596 non-null    object
 9   ROAD DESCRIPTION    569 non-null    object
 10  FACED TOWARDS       607 non-null    object
 11  MAIN ROAD DISTANCE  204 non-null    object
 12  ROAD TO HOUSE       187 non-null    object
dtypes: float64(5), object(8)
memory usage: 62.6+ KB

In [11]:
df

,price,LAND AREA,HOUSE AREA,BEDS,LIVING,KITCHEN,BATHROOMS,FLOORS,LOCATION,ROAD DESCRIPTION,FACED TOWARDS,MAIN ROAD DISTANCE,ROAD TO HOUSE
0,"Rs. 40,000 (Negotiable)\n(Forty thousand )",0-4-0-0,1200 SQUARE FEET,3.0,1.0,1.0,2.0,2.0,"THAIBA, LALITPUR, NEPAL",20 FEET,EAST,NaN,NaN
1,"Rs. 32,00,000 (Negotiable)\n(32 lakh per aana)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"NEAR MAKALU PETROL PUMP, KATHMANDU, NEPAL",10 FT,NORTH,150M,50
2,"Rs. 7,00,000 (Negotiable)",999 SQUARE FEET,NaN,NaN,NaN,NaN,NaN,NaN,"GYANESWOR, KATHMANDU, NEPAL",30 FT,NONE,NaN,NaN
3,"Rs. 2,30,00,000 (Negotiable)\n(Two crore thirt...",0-4-2-2,2100 SQUARE FEET,6.0,2.0,2.0,3.0,2.5,"NAYABASTI, IMADOL, LALITPUR, NEPAL",14/20 FEET,NORTH,400M,NaN
4,"Rs. 28,00,000 (Negotiable)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"KITINI, GODAWARI, KATHMANDU, NEPAL",13FT / 20FT,NONE,NaN,500METERS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,"Rs. 28,00,000 (Negotiable)\n(Twenty eight lakh...",0-3-2-0,NaN,NaN,NaN,NaN,NaN,NaN,"MULPANI, GREEN HILL CITY, KATHMANDU, NEPAL",20 FT,SOUTH-EAST,NaN,NaN
611,"Rs. 3,00,000 (Negotiable)\n(Three lakh per rop...",15-0-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"THAHA NAGARPALIKA TISTUNG, MAKWANPUR, NEPAL",16 FEET,NORTH-EAST,NaN,ROAD FROM CHANDRAGIRI
612,"Rs. 3,50,000 (Negotiable)\n(Three lakh fifty t...",13-8-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"TINPIPLE, LAMJUNG, NEPAL",9 METER,EAST,NaN,NaN
613,"Rs. 8,99,00,000 (Negotiable)\n(Eight crore nin...",3 KATTHA,NaN,NaN,NaN,NaN,NaN,NaN,"DHANGADI, KAILALI, NEPAL",NaN,NONE,100M,NaN
614,"Rs. 1,60,000 (Negotiable)\n(One lakh sixty tho...",0-,NaN,NaN,NaN,NaN,NaN,NaN,"SUNAKOTHI LALITPUR, KATHMANDU, NEPAL",20 FEET,NONE,NaN,NaN

In [12]:
df = df.drop(columns=['ROAD TO HOUSE','MAIN ROAD DISTANCE'])

In [13]:
df

,price,LAND AREA,HOUSE AREA,BEDS,LIVING,KITCHEN,BATHROOMS,FLOORS,LOCATION,ROAD DESCRIPTION,FACED TOWARDS
0,"Rs. 40,000 (Negotiable)\n(Forty thousand )",0-4-0-0,1200 SQUARE FEET,3.0,1.0,1.0,2.0,2.0,"THAIBA, LALITPUR, NEPAL",20 FEET,EAST
1,"Rs. 32,00,000 (Negotiable)\n(32 lakh per aana)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"NEAR MAKALU PETROL PUMP, KATHMANDU, NEPAL",10 FT,NORTH
2,"Rs. 7,00,000 (Negotiable)",999 SQUARE FEET,NaN,NaN,NaN,NaN,NaN,NaN,"GYANESWOR, KATHMANDU, NEPAL",30 FT,NONE
3,"Rs. 2,30,00,000 (Negotiable)\n(Two crore thirt...",0-4-2-2,2100 SQUARE FEET,6.0,2.0,2.0,3.0,2.5,"NAYABASTI, IMADOL, LALITPUR, NEPAL",14/20 FEET,NORTH
4,"Rs. 28,00,000 (Negotiable)",0-4-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"KITINI, GODAWARI, KATHMANDU, NEPAL",13FT / 20FT,NONE
...,...,...,...,...,...,...,...,...,...,...,...
610,"Rs. 28,00,000 (Negotiable)\n(Twenty eight lakh...",0-3-2-0,NaN,NaN,NaN,NaN,NaN,NaN,"MULPANI, GREEN HILL CITY, KATHMANDU, NEPAL",20 FT,SOUTH-EAST
611,"Rs. 3,00,000 (Negotiable)\n(Three lakh per rop...",15-0-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"THAHA NAGARPALIKA TISTUNG, MAKWANPUR, NEPAL",16 FEET,NORTH-EAST
612,"Rs. 3,50,000 (Negotiable)\n(Three lakh fifty t...",13-8-0-0,NaN,NaN,NaN,NaN,NaN,NaN,"TINPIPLE, LAMJUNG, NEPAL",9 METER,EAST
613,"Rs. 8,99,00,000 (Negotiable)\n(Eight crore nin...",3 KATTHA,NaN,NaN,NaN,NaN,NaN,NaN,"DHANGADI, KAILALI, NEPAL",NaN,NONE
614,"Rs. 1,60,000 (Negotiable)\n(One lakh sixty tho...",0-,NaN,NaN,NaN,NaN,NaN,NaN,"SUNAKOTHI LALITPUR, KATHMANDU, NEPAL",20 FEET,NONE

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             540 non-null    object
 1   LAND AREA         587 non-null    object
 2   HOUSE AREA        177 non-null    object
 3   BEDS              315 non-null    float64
 4   LIVING            276 non-null    float64
 5   KITCHEN           301 non-null    float64
 6   BATHROOMS         240 non-null    float64
 7   FLOORS            311 non-null    float64
 8   LOCATION          596 non-null    object
 9   ROAD DESCRIPTION  569 non-null    object
 10  FACED TOWARDS     607 non-null    object
dtypes: float64(5), object(6)
memory usage: 53.0+ KB

In [15]:
df.dropna()

,price,LAND AREA,HOUSE AREA,BEDS,LIVING,KITCHEN,BATHROOMS,FLOORS,LOCATION,ROAD DESCRIPTION,FACED TOWARDS
0,"Rs. 40,000 (Negotiable)\n(Forty thousand )",0-4-0-0,1200 SQUARE FEET,3.0,1.0,1.0,2.0,2.0,"THAIBA, LALITPUR, NEPAL",20 FEET,EAST
3,"Rs. 2,30,00,000 (Negotiable)\n(Two crore thirt...",0-4-2-2,2100 SQUARE FEET,6.0,2.0,2.0,3.0,2.5,"NAYABASTI, IMADOL, LALITPUR, NEPAL",14/20 FEET,NORTH
14,"Rs. 3,20,00,000 (Negotiable)\n(Three crore twe...",0-6-0-0,2755 SQUARE FEET,5.0,3.0,2.0,4.0,2.5,"BUDHANILKANTHA, KATHMANDU, NEPAL",13 FEET,SOUTH
17,"Rs. 2,85,00,000 (Negotiable)\n(Two crore eight...",0-4-1-1,2637 SQUARE FEET,5.0,2.0,3.0,7.0,3.5,"SWYAMBHU, KATHMANDU, NEPAL",9 METER,NORTH-EAST
29,"Rs. 2,15,00,000 (Negotiable)\n(Two crore fifte...",0-3-3-0,2250 SQUARE FEET,4.0,2.0,2.0,4.0,2.5,"SITAPAILA, KATHMANDU, NEPAL",13FT /16FT,EAST
...,...,...,...,...,...,...,...,...,...,...,...
549,"Rs. 70,000 (Negotiable)\n(Seventy thousand per...",1275 SQUARE FEET,1275 SQUARE FEET,3.0,1.0,1.0,2.0,6.0,"DHAPASI, KATHMANDU, NEPAL",20,EAST
562,"Rs. 2,40,00,000 (Negotiable)\n(Two crore forty...",0-4-0-0,2100 SQUARE FEET,3.0,1.0,1.0,3.0,2.5,"NEAR SITAPAKHA GATE, HATTIBAN, LALITPUR, NEPAL",16 FEET,SOUTH-WEST
573,"Rs. 1,35,00,000 (Negotiable)\n(1 crore 35 lakh)",0-4-0-0,1852 SQUARE FEET,4.0,2.0,2.0,2.0,2.0,"GOKARNA, KATHMANDU, NEPAL",15 FROM WEST 12 FROM EAST,EAST
584,"Rs. 2,40,00,000 (Negotiable)\n(Two crore forty...",1369 SQUARE METER,1369 SQUARE METER,4.0,2.0,2.0,2.0,2.0,"MAHARAJGUNG, KATHMANDU, NEPAL",13 FEET,EAST
606,"Rs. 1,35,00,000 (Negotiable)\n(One crore thirt...",0-2-2-2,1565 SQUARE FEET,4.0,1.0,2.0,3.0,2.5,"DHAPAKHEL HEIGHT, LALITPUR, NEPAL",12 FEET,SOUTH

In [16]:
import pandas as pd

# Assuming you have a DataFrame called 'df'
has_zeros = (df == 0).any().any()

if has_zeros:
    print("The DataFrame contains 0 values.")
else:
    print("The DataFrame does not contain any 0 values.")

The DataFrame does not contain any 0 values.