In [4]:
import pandas as pd
df =  pd.read_csv('NoOutliersDataSet.csv')

In [6]:
df = df.rename(columns={'Price(Float)': 'Price', 'Area(In Sq.Feet)': 'Area'})

In [7]:
df

,Address,Area,Road,Price,Bedroom,Bathroom,Face,Floors,City
0,Tinthana,1711.25000,6.5,40000000,5,2.0,North,2.0,Kathmandu
1,Banasthali,1027.00000,7.6,20000000,5,3.0,North,2.5,Kathmandu
2,Kadaghari,941.18750,8.0,17500000,4,3.0,South,2.5,Kathmandu
3,Kapan,1369.00000,8.0,22000000,3,3.0,East,3.0,Kathmandu
4,Srijana Chowk,1129.42500,8.0,16000000,5,3.0,East,2.5,Kathmandu
...,...,...,...,...,...,...,...,...,...
1902,Sukedhara,1112.31250,24.0,19000000,3,2.0,South West,2.0,Kathmandu
1903,Kharibot,1711.25000,24.0,58000000,5,5.0,South,3.5,Lalitpur
1904,Kapan,941.18750,24.0,24500000,6,2.0,South,2.0,Kathmandu
1905,Tinthana,2762.29975,24.0,50000000,7,3.0,North West,3.0,Kathmandu
1906,Hattiban,1262.04000,24.0,27000000,6,3.0,East,3.5,Lalitpur

In [8]:
df.to_csv('outliers_cleaned.csv')