In [245]:
import pandas as pd
import matplotlib.pyplot as plt

df= pd.read_csv('dataset_nepalhomes.csv')
df.head()

,title,location,price,posted_on,views,LAND AREA,ROAD ACCESS,FACING,FLOOR,PARKING,BEDROOM,BATHROOM,FURNISH STATUS,amenity,url,BUILTUP AREA,BUILT YEAR
0,House for Sale,"Hepali Height, Kathmandu",Rs. 4.65 Cr,"Apr 12, 2023",183,4.3 aana,13 Feet,West,3.0,2 Cars & 3 Bikes,6.0,6.0,Full-Furnished,"Earthquake Resistant,Parquet,Marbel,Drainage,G...",https://www.nepalhomes.com/detail/house-for-sa...,NaN,NaN
1,House for Sale,"Sanepa, Lalitpur",Rs. 3.5 Cr,"Apr 12, 2023",95,2.5 aana,13 Feet,South-East,3.0,1 Cars & 2 Bikes,3.0,2.0,Semi-Furnished,"Drainage,Solar,Parking,Drinking Water,Balcony,...",https://www.nepalhomes.com/detail/house-for-sa...,1500 Sq. Ft.,NaN
2,Flat system House for Sale,"Old Baneshwor, Kathmandu",Rs. 2.8 Cr,"Apr 12, 2023",400,3.2 aana,6 Feet,East,6.0,NaN,22.0,8.0,Un-Furnished,NaN,https://www.nepalhomes.com/detail/flat-system-...,NaN,NaN
3,4 BHK House in Colony for Sale at Rupandehi,"Omsatiya, Rupandehi",Rs. 2.2 Cr,"Apr 12, 2023",103,0.12 kattha,23 Feet,East,3.0,2 Cars & 4 Bikes,4.0,4.0,Semi-Furnished,"Earthquake Resistant,Garden,Parking,Drinking W...",https://www.nepalhomes.com/detail/4-bhk-and-5b...,2614 Sq. Ft.,2079 BS
4,Under construction House for Sale,"Omsatiya, Rupandehi",Rs. 2.2 Cr,"Apr 11, 2023",54,0.12 kattha,23 Feet,East,2.5,3 Cars & 3 Bikes,4.0,4.0,Semi-Furnished,"Earthquake Resistant,Parquet,CC Camera,Drainag...",https://www.nepalhomes.com/detail/bungalow-hou...,2612 Sq. Ft.,2079 BS

In [246]:
df.shape

(2340, 17)

In [247]:
df.describe(include='object')

,title,location,price,posted_on,views,LAND AREA,ROAD ACCESS,FACING,PARKING,FURNISH STATUS,amenity,url,BUILTUP AREA,BUILT YEAR
count,2340,2340,2340,2340,2340,2225,2330,1610,84,426,141,2340,376,212
unique,2186,379,292,703,604,161,130,8,27,3,137,2340,245,46
top,House for Sale,"Budhanilkantha, Kathmandu",Price on call,"Sep 13, 2020",98,4.0 aana,13 Feet,East,1 Cars & 1 Bikes,Semi-Furnished,"Earthquake Resistant,Marbel,Parquet,Fridge,Sof...",https://www.nepalhomes.com/detail/house-for-sa...,2800 Sq. Feet,2077 BS
freq,31,159,165,18,15,310,706,359,14,228,2,1,10,29

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2340 non-null   object
 1   location        2340 non-null   object
 2   price           2340 non-null   object
 3   posted_on       2340 non-null   object
 4   views           2340 non-null   object
 5   LAND AREA       2225 non-null   object
 6   ROAD ACCESS     2330 non-null   object
 7   FACING          1610 non-null   object
 8   FLOOR           2213 non-null   float64
 9   PARKING         84 non-null     object
 10  BEDROOM         1688 non-null   float64
 11  BATHROOM        1578 non-null   float64
 12  FURNISH STATUS  426 non-null    object
 13  amenity         141 non-null    object
 14  url             2340 non-null   object
 15  BUILTUP AREA    376 non-null    object
 16  BUILT YEAR      212 non-null    object
dtypes: float64(3), object(14)
memory usage: 310.9+ KB

In [249]:
df

,title,location,price,posted_on,views,LAND AREA,ROAD ACCESS,FACING,FLOOR,PARKING,BEDROOM,BATHROOM,FURNISH STATUS,amenity,url,BUILTUP AREA,BUILT YEAR
0,House for Sale,"Hepali Height, Kathmandu",Rs. 4.65 Cr,"Apr 12, 2023",183,4.3 aana,13 Feet,West,3.0,2 Cars & 3 Bikes,6.0,6.0,Full-Furnished,"Earthquake Resistant,Parquet,Marbel,Drainage,G...",https://www.nepalhomes.com/detail/house-for-sa...,NaN,NaN
1,House for Sale,"Sanepa, Lalitpur",Rs. 3.5 Cr,"Apr 12, 2023",95,2.5 aana,13 Feet,South-East,3.0,1 Cars & 2 Bikes,3.0,2.0,Semi-Furnished,"Drainage,Solar,Parking,Drinking Water,Balcony,...",https://www.nepalhomes.com/detail/house-for-sa...,1500 Sq. Ft.,NaN
2,Flat system House for Sale,"Old Baneshwor, Kathmandu",Rs. 2.8 Cr,"Apr 12, 2023",400,3.2 aana,6 Feet,East,6.0,NaN,22.0,8.0,Un-Furnished,NaN,https://www.nepalhomes.com/detail/flat-system-...,NaN,NaN
3,4 BHK House in Colony for Sale at Rupandehi,"Omsatiya, Rupandehi",Rs. 2.2 Cr,"Apr 12, 2023",103,0.12 kattha,23 Feet,East,3.0,2 Cars & 4 Bikes,4.0,4.0,Semi-Furnished,"Earthquake Resistant,Garden,Parking,Drinking W...",https://www.nepalhomes.com/detail/4-bhk-and-5b...,2614 Sq. Ft.,2079 BS
4,Under construction House for Sale,"Omsatiya, Rupandehi",Rs. 2.2 Cr,"Apr 11, 2023",54,0.12 kattha,23 Feet,East,2.5,3 Cars & 3 Bikes,4.0,4.0,Semi-Furnished,"Earthquake Resistant,Parquet,CC Camera,Drainag...",https://www.nepalhomes.com/detail/bungalow-hou...,2612 Sq. Ft.,2079 BS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2335,A Bungalow on sale at Banasthali Kathmandu,"Banasthali, Kathmandu",Rs. 10 Cr,"Mar 12, 2020",49,12.0 aana,13-20 Feet,North,2.5,NaN,5.0,6.0,Semi-Furnished,NaN,https://www.nepalhomes.com/detail/a-bungalow-o...,4500 Sq. Meter,2074 BS
2336,"Residential House On Sale At Gokarneshwor, Kat...","Gorkarneshwor, Kathmandu",Rs. 2.7 Cr,"Mar 11, 2020",41,4.0 aana,11 Feet,West,4.5,NaN,8.0,4.0,Semi-Furnished,NaN,https://www.nepalhomes.com/detail/residential-...,NaN,2072 BS
2337,"Bungalow house for sale in Bijulibazar, Thapagaun","Bijulibajar, Kathmandu",Rs. 5 Cr,"Mar 4, 2020",368,6.0 aana,14 Feet,South-East,3.0,NaN,10.0,5.0,Un-Furnished,NaN,https://www.nepalhomes.com/detail/bungalow-hou...,NaN,0 BS
2338,"House for SALE at Kusunti, Lalitpur","Kusunti, Lalitpur",Rs. 4.25 Cr,"Mar 4, 2020",64,5.2 aana,15 Feet,South-West,2.5,NaN,4.0,4.0,Un-Furnished,NaN,https://www.nepalhomes.com/detail/house-for-sa...,NaN,2076 BS
2339,Resort on SALE at Godawari,"Godawari, Lalitpur",Rs. 25.1 Cr,"Mar 4, 2020",514,162.0 aana,16 Feet,North-East,3.0,NaN,NaN,NaN,Semi-Furnished,NaN,https://www.nepalhomes.com/detail/resort-on-sa...,NaN,0 BS

In [ ]:
df1 = df.dropna()
df1

In [ ]:
df1.info()

In [ ]:
import seaborn as sns
plt.figure(figsize=(16,10 ))
sns.heatmap(df.isnull())
plt.savefig('nullvalues.png')

# Dropping the columns with most null values and noises

In [ ]:
# Assuming your DataFrame is named 'df'
columns_to_drop = ['BUILTUP AREA', 'BUILT YEAR', 'title', 'posted_on', 'url']
df2 = df.drop(columns=columns_to_drop)
df2

In [ ]:
df2.columns

# filtering columns with location either kathmandu , bhaktapur or lalitpur

In [ ]:
df4 = df2[df2['location'].str.contains('Kathmandu|Bhaktapur|Lalitpur')]

In [ ]:
df4

In [ ]:
df4.loc[:, 'city'] = df4['location'].str.split(',').str[0]
df4.loc[:, 'district'] = df4['location'].str.split(',').str[1]

In [ ]:
df4

In [ ]:
df4 = df4.drop('location',axis=1)

In [ ]:
df4.columns = df4.columns.str.lower()

In [ ]:
df4

In [ ]:
df4['price'].str.contains('Cr').sum()

In [ ]:
df4['price'].str.contains('Lac|Cr').sum()

In [ ]:
df4[~df4['price'].str.contains('Lac|Cr')]

In [ ]:
df4 = df4[~df4['price'].str.contains('Price on call')] #removing the rows that contains price on call
df4

In [ ]:
print(df4['price'].str.contains("/"))

In [ ]:
print(df4.loc[df4['price'].str.contains("/"), 'price'])

In [ ]:
if df4['land area'].str.contains('aana').any():
    df4['land area'] = df4['land area'].str.replace('aana', '')

In [ ]:
df4['land area']

In [ ]:
df4 = df4[df4['land area'] != '0-0-3-0 sq. ft']

In [ ]:
df4['land area'].unique()

In [ ]:
df4 = df4.dropna(subset=['land area'])

In [ ]:
df4['land area'].unique()

In [ ]:
df4.to_csv('cleaning_data.csv')

In [ ]:
import pandas as pd

# Define the conversion function
def convert_to_aana(value):
    numeric_part = value.split(' ')[0]
    converted_value = float(numeric_part) / 342.25  # 1 aana = 342.25 sq. ft
    return converted_value

# Create a copy of the DataFrame
df4 = df.copy()

# Iterate over each value in the 'land area' column
for i, value in enumerate(df4['land area']):
    if 'sq. ft' in value:
        converted_value = convert_to_aana(value)
        df4.loc[i, 'land area'] = converted_value
        print(f"Converted {value} sq. ft to {converted_value} aana")

# Export the modified DataFrame to a CSV file
df4.to_csv('/path/to/output.csv', index=False)

In [ ]:
df4['land area'].unique()